{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InkBrutalMarketing | Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="all">
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            <div class="offset-md-1 col-md-4">
                {% block contenido %}
                  
                {% endblock %}
            </div>
            <div class="offset-md-1 col-md-6">
                <img id="image" src="{% static 'image/20531.jpg' %}" class="img-fluid background" alt="">
            </div>
        </div>
    </div>
</body>
</html>