body{
    background-color: #e9e9e9;
}

section.content {
    margin: 0px 15px 0 250px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
a{
    text-decoration: none;
}
.card{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.card .header{
    padding: 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}
.card .header .header-dropdown{
    position: absolute;
    right: 15px;
    list-style: none;
}
.card .body{
    padding: 20px;
}

.sidebar-wrapper{
    background: #fdfdfd;
}

.sidebar-wrapper .user-info{
    padding: 13px 15px 12px 15px;
    background: url("../image/portada.jpg") no-repeat no-repeat;
    height: 105px;
}

.sidebar-wrapper .user-info .image img{
    border-radius: 50%;
    vertical-align: bottom !important;
}

ul{
    margin-top: 0;
    margin-bottom: 10px;
}

.sidebar-wrapper .menu .list{
    padding-left: 0;
    list-style: none;
}

.sidebar-wrapper .menu .list a:hover, .sidebar-wrapper .menu .list a:active, .sidebar-wrapper .menu .list a:focus {
    text-decoration: none !important;
}

.sidebar-wrapper .menu .list a {
    color: #747474;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    padding: 10px 13px;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button, input, select, a {
    outline: none !important;
}

.sidebar-wrapper .menu .list .ml-menu {
    background-color: 
    transparent;
    list-style: none;
    display: none;
    padding-left: 0;
}

ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
    margin-top: 0;
}

.sidebar-wrapper .menu .list .header{
    background: #eee;
    font-size: 15px;
    font-weight: 600;
    padding: 1px 1px;
}

.sidebar-wrapper .menu .list .menu-toggle::before {
    content: '+';
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.sidebar-wrapper .menu .list .menu-toggle::after {
    content: '\2013';
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.sidebar-wrapper .menu .list .menu-toggle::after, .sidebar .menu .list .menu-toggle::before {
    position: absolute;
    top: calc(50% - 14px);
    right: 17px;
    font-size: 19px;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sidebar-wrapper .menu .list .ml-menu {
    list-style: none;
    display: none;
    padding-left: 0;
}

.waves-block {
    display: block;
}

.btn:not(.btn-link):not(.btn-circle) i {
    font-size: 20px;
    position: relative;
    top: 3px;
}

.btn-accion-tabla{
    cursor: pointer;
    border: none;
    background: 0;
    padding: 0 0 0 5px;
    font-size: 14px !important;
    line-height: 1.5;
}