{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/fonts/fontfamilycss.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/fonts/fontfamilyicon.css' %}" type="text/css">
    <link rel="stylesheet" Content-Type: "text/css" href="{% static 'css/nav.css' %}" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" Content-Type: "text/css" href="{% static 'css/styles.css' %}" type="text/css" media="all">
    <title>InkBrutalMarketing</title>
</head>
<body>
    <noscript>
        <strong>
            We're sorry but front end doesn't work properly without Javascript. Enable Please it to continue.
        </strong>
    </noscript>
    <div id="app"></div>
    {% render_bundle 'app' %}
</body>
<script type="text/javascript" src="{% static 'js/nav.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</html>